html, body {
    padding: 0;
    margin: 0;
    height: 100%;

}

.content {
    $font-color: rgb(0, 255, 0);
    $font-size: 18px;
    overflow: auto;
    height: 100%;
    background: #000;
    color: $font-color;


    .terminal {
        //width: 800px;
        //height: 800px;
        background: #000;
        color: $font-color;
        font-size: $font-size;
        font-family: "Microsoft YaHei UI";

        .row {
            margin-bottom: 20px;

            .type-container {
                position: relative;

                .float-pwd {
                    background: #000;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    color: $font-color;
                    font-size: $font-size;
                    //background: #fffffb;
                }

                textarea {
                    resize: none;
                    font-family: "Microsoft YaHei UI";
                    height: 200px;
                    text-align: start;
                    //width: 100px;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    box-sizing: border-box;
                    border: 0;
                    outline: 0;
                    background: #000;
                    font-size: $font-size;
                    color: $font-color;
                }
            }

            .type-history {
                word-break: break-all;
            }

            .result {
                font-family: "Microsoft YaHei UI";
                margin: 0;
            }
        }
    }

}
