<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script crossorigin="anonymous" integrity="sha384-LVoNJ6yst/aLxKvxwp6s2GAabqPczfWh6xzm38S/YtjUyZ+3aTKOnD/OJVGYLZDl"
            src="https://lib.baomitu.com/jquery/3.5.0/jquery.min.js"></script>

    <script crossorigin="anonymous"
            integrity="sha512-BKbSR+cfyxLdMAsE0naLReFSLg8/pjbgfxHh/k/kUC82Hy7r6HtR5hLhobaln2gcTvzkyyehrdREdjpsQwy2Jw=="
            src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-8JKxM+fjHiRR2OJNzHBnJuwIgO8kc+m1CD10x7CnxZiL8hMQ6WE77R6rMyPoKEsG"
            src="https://lib.baomitu.com/dayjs/1.8.29/dayjs.min.js"></script>
</head>
<body>
<div class="app" id="app" ref="content">
    <div class="toolbar">
        <div class="button primary" @click="isShowDialog = true">添加</div>
        <div class="button primary">编辑</div>
        <div class="button primary">删除</div>
        <div class="button primary">设置</div>
    </div>
    <div class="content-container">
        <div class="category">
            <div class="row">
                <div class="name">所有</div>
            </div>
            <div class="row">
                <div class="name">默认分类</div>
            </div>
            <div class="row">
                <div class="name">默认分类2</div>
            </div>
        </div>
        <div class="content">
            <table cellspacing="0">
                <tr>
                    <th width="50%">路径</th>
                    <th>密码</th>
                    <th>IP</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                </tr>
                <tr v-for="item of shells">
                    <td width="50%" @click="goto(item)">
                        {{item.url}}
                    </td>
                    <td>{{item.pwd}}</td>
                    <td>{{item.ip}}</td>
                    <td>{{item.note}}</td>
                    <td>{{item.createDate|date}}</td>
                    <td>{{item.changeDate|date}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="mask" v-if="isShowDialog"></div>
    <div class="dialog" v-if="isShowDialog">
        <div class="header">
            添加
        </div>
        <div class="content">
            URL:<input type="text" v-model="shellConfig.url">
            密码:<input type="text" v-model="shellConfig.pwd">
            备注:<input type="text" v-model="shellConfig.note">
        </div>
        <div class="footer">
            <div class="button primary" @click="isShowDialog = false">取消</div>
            <div class="button primary" @click="test()">测试</div>
            <div class="button primary" @click="add()">添加</div>
        </div>
    </div>
</div>
</body>
</html>
<script>

    new Vue({
        el: '#app',
        data: {
            shellConfig: {url: '', note: ''},
            shells: [],
            isShowDialog: false
        },
        created() {
            this.shells = this.get('shell', [])
        },
        filters: {
            // 时间转换器
            date(v) {
                if (!v) return ''
                if (typeof v === 'number') {
                    const temp = v + ''
                    if (temp.length === 10) {
                        return dayjs.unix(v).format('YYYY-MM-DD HH:mm:ss')
                    }
                    return dayjs(v).format('YYYY-MM-DD HH:mm:ss')
                }
                if (typeof v === 'string') {
                    if (v.length === 10) {
                        return dayjs.unix(parseInt(v, 10)).format('YYYY-MM-DD HH:mm:ss')
                    }
                    return dayjs(parseInt(v, 10)).format('YYYY-MM-DD HH:mm:ss')
                }
                return dayjs(v).format('YYYY-MM-DD HH:mm:ss')

            },
        },
        methods: {
            goto(item) {
                console.log(item);
                // console.log(location.href = 'about.html?url=' + item.url + '&pwd=' + item.pwd);
                console.log(location.href = 'about_file.html?url=' + item.url + '&pwd=' + item.pwd);
            },
            add() {
                this.shells.push({
                    url: this.shellConfig.url,
                    pwd: this.shellConfig.pwd,
                    ip: '',
                    category: '',
                    note: this.shellConfig.note,
                    createDate: Date.now(),
                    changeDate: Date.now(),
                })
                this.set('shell', this.shells)
                this.shellConfig = {}
                this.isShowDialog = false
            },
            test() {

            },
            set(key, value) {
                if (typeof value === 'object') {
                    value = JSON.stringify(value)
                }
                localStorage.setItem(key, value)
            },
            get(key, default2 = '') {
                const value = localStorage.getItem(key) || default2
                try {
                    return JSON.parse(value)
                } catch (e) {
                    return value
                }
            },
            remove(key) {
                localStorage.removeItem(key)
            },
        },
        mounted() {

        }
    })
</script>
