@import "../../assets/css/index";
@import "../../assets/css/markdown.css";
@import "../../assets/css/atom-one-dark.min.css";

#article {
  font-size: 1.4rem;

  .navigation {
    display: none;
    position: fixed;
    top: 110px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 2;
    font-size: 1.4rem;

    img {
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: white;
      padding: 2px;
      z-index: 3;
    }

    .navigation-list {
      padding: 0;
      margin: 0;
      width: 160px;
      transition: all .3s;
      list-style: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: #505050;
      //opacity: 0;
      //overflow: hidden;
      //transform-origin: calc(100% - 20px) 20px;
      //transform: rotate(-90deg);
      border-radius: 5px 25px 5px 5px;

      .navigation-item {
        position: relative;
        height: 42px;
        line-height: 42px;
        border-bottom: 1px solid rgba(100, 100, 100, 0.8);

        &:hover {
          background: #2f2f2f;
          color: white;

          .navigation-item-link {
            color: white;
          }

          .icon {
          }
        }

        &:nth-last-child(1) {
          border-bottom: 0;
        }

        .navigation-item-link {
          transition: all .3s;
          color: #c8c8c8;
          display: flex;
          overflow: hidden;
          line-height: 42px;
          text-decoration: none;
          align-items: center;

          .icon {
            margin: 0 13.5px;
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  .wrapper {
    margin: 2rem auto 6rem auto;
    width: $container-width;
    //width: $container-width + 2vw;

    .header {
      min-height: 3.5rem;
      border-radius: 0 1rem 0 0;
      padding: 3rem 5rem;
      border-left: 6px solid gray;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f1f1f1;

      .title {
        font-size: 3rem;
        width: 75%;
        letter-spacing: .4rem;
      }

      .date-ctn {
        .date {
          line-height: 2.4rem;
          font-size: 1.6rem;
          opacity: .5;
          letter-spacing: .12rem;
        }
      }
    }

    .last-modify {
      padding: 1rem 5rem;
      background: white;

      .date {
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: bold;
        background: #e1e1e1;
        border-radius: .3rem;
      }
    }

    section {
      min-height: calc(100vh - 35rem);
      border-radius: 0 0 1rem 1rem;
      background: white;
      padding: 3rem 5rem;
      line-height: 3rem;
    }
  }

  .page {
    //display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    margin-bottom: 30px;

    $anim-duration: .5s;

    .previous {
      border-radius: 4px;
      width: 40%;
      background: white;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all $anim-duration;

      &:hover {
        color: white;
        background: darkgray;
      }
    }

    .next {
      border-radius: 4px;
      transition: all $anim-duration;
      color: white;
      width: 40%;
      background: darkgray;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: white;
        color: black;
      }
    }
  }

  #outline {
    position: fixed;
    border-radius: .6rem;
    width: 15vw;
    background: white;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    z-index: 9;
    right: 3rem;
    top: 10rem;
    font-size: 1.6rem;

    .outline-header {
      padding: 1.5rem 0;
      border-bottom: 1px solid gainsboro;
    }

    .list {
      margin-top: 1rem;

      .item {
        border-radius: .4rem;
        padding: .8rem 1rem;

        &:hover {
          background: #f0f0f3;
        }

        a {
          display: block;
          box-sizing: border-box;
          word-break: break-all;
          width: 100%;
          text-decoration: none; /* 去除默认的下划线 */
          color: #000; /* 去除默认的颜色和点击后变化的颜色 */
          $indent: 1.2rem;

          &.indent2 {
            padding-left: 2*$indent;

          }

          &.indent3 {
            padding-left: 3*$indent;
          }
        }
      }
    }
  }

  .go-top {
    cursor: pointer;
    position: fixed;
    right: 3rem;
    bottom: 6rem;
    padding: 0 .3rem;
    background: #9d9d9d;
    border-radius: .4rem;

    svg {
      $width: 3rem;
      height: $width + 1rem;
      width: $width;
    }
  }
}
