<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="http://blogapi.ttentau.top/static/uploads/images/favicon.ico">
    <title>归档</title>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="body-ctn" id="archive">
    ${require('html-loader!../../components/header/header.html')}
    <div class="container">
        <div class="border-decorate-a">
            <div class="border-decorate-b">
                <div class="border-decorate-c">
                    <h2 class="notice">归档</h2>
                    <div class="archive">
                        <ul class="archive-list">
                            <li v-for="(item,index) of list" class="archive-item">
                                <div class="year">{{index.substr(1)}}</div>
                                <ul class="article-list">
                                    <li class="article-item" v-for="article of item">
                                        <div class="date">{{article.updateTime|date('MM-dd')}}</div>
                                        <a class="article"  :href="'/article.html?id='+article.id">{{article.title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
