<header>
    <div class="header-ctn">
        <div class="blog">
            <a class="name" href="/">TTentau</a>
            <div class="signature">
                <span class=" animated">世</span>
                <span class=" animated">事</span>
                <span class=" animated">漫</span>
                <span class=" animated">随</span>
                <span class=" animated">流</span>
                <span class=" animated">水</span>
                <span>，</span>
                <span class=" animated">算</span>
                <span class=" animated">来</span>
                <span class=" animated">一</span>
                <span class=" animated">梦</span>
                <span class=" animated">浮</span>
                <span class=" animated">生</span>
            </div>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/" class="active" data-hover="主页">主页</a>
                </li>
                <li>
                    <a href="/archive.html" data-hover="归档">归档</a>
                </li>
                <li>
                    <a href="/about.html" data-hover="关于我">关于我</a>
                </li>
<!--                <li>-->
<!--                    <a href="/photos" data-hover="相册">相册</a>-->
<!--                </li>-->
            </ul>

        </nav>
    </div>
</header>
