@import "../../assets/css/index";

$bottom: 10px;
$right: 10px;
$border-radius: 5px;
#home {
  .notice {
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
    color: #333;
    font-weight: 600;
    position: relative;
    margin-bottom: 10px !important;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      border-bottom: 2px solid #2a2a2a;
      width: 100px;
      -webkit-transition: width .3s linear;
      transition: width .3s linear;
    }

    &:hover {
      &::after {
        width: 120px;
      }
    }
  }

  .post-wrapper {
    min-height: calc(100vh - 35rem);

    .post-list {
      font-size: 1.4rem;

      .post-list-item {
        margin-bottom: 1.2rem;
        border-radius: 8px;
        background: #fff;
        padding: 2rem;
        padding-bottom: 1rem;
        box-shadow: 0 0 10px 10px #efefef;
        overflow: hidden;

        &.top {
          position: relative;

          &::before {
            $width: 1.5rem;
            content: ' ';
            position: absolute;
            border: $width solid transparent;
            border-bottom: $width solid $main-bg-color;
            top: -$width - .1rem;
            right: -$width;
            transform: rotate(45deg);
          }
        }

        .post-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 2.2rem;
          font-weight: lighter;

          time {
            transform: translateY(-1.4rem);
            font-size: 1.4rem;
            font-weight: 400;
          }

          a {
            width: 80%;
            display: inline-block;
            color: #333;
            text-decoration: none;
            text-shadow: #452d2d 0 0 1px, #fffffb 0 0 1px, #fffffb 0 0 2px;
            letter-spacing: 4px;
            font-weight: 300;
            //font-family: Comic Sans MS, Helvetica Neue, Microsoft Yahei, -apple-system, sans-serif;
            //transition: all .5s;

            &:hover {
              transform: scale(1.02);
              color: $hover-color;
            }
          }
        }

        .post-content {
          margin: 1rem 0;
        }

      }
    }
  }
}


